{% extends 'base.html' %}

{% block content %}
  <h1>Корзина</h1>
{% if cart %}
    <ul>
        {% for item in cart %}
            <li>{{item.product.name}} : Количество  {{ item.quantity }} </li>
                <form action="{% url 'remove_from_cart' product_id=item.product.id  %}" method="POST">
                {% csrf_token %}
                <button type="submit">Удалить из корзины</button>
            </form>
        {% endfor %}
    </ul>

    {% else %}
        <p>Корзина пуста</p>
    {% endif %}
     <a href="{% url 'checkout' %}" class="button">Оформить заказ</a>
     <a href="{% url 'clear_cart' %}">Очистить корзину</a>
{% endblock %}
