{% extends 'base.html' %}

{% block content %}
  <h1>Корзина</h1>
  {% if cart_items %}
    <table>
      <thead>
        <tr>
          <th>Название</th>
          <th>Цена</th>
          <th>Количество</th>
          <th>Удалить</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart_items %}
          <tr>
              <td>{{ item.product.name }}</td>
              <td>{{ item.product.price }}</td>
              <td><a>{{ item.quantity }}</a></td>
              <td><a href="{% url 'remove_from_cart' item.product.id %}">Удалить</a></td>
          <br>
          </tr>
        {% endfor %}
        <tr>
        </tr>
      </tbody>
    </table>
      <a href="{% url 'checkout' %}" class="button">Оформить заказ</a>
      <a href="{% url 'clear_cart' %}">Очистить корзину</a>
  {% else %}
    <p>Корзина пуста ;(</p>
  {% endif %}
{% endblock %}
